
<div class="list no-margin">

    <div class="item jw-player" ng-if="false">
        <div class="ui360 ui360-vis">
<!--         <div class="ui360"> -->
            <a id="jw-source" type="audio/mp3" xhref="http://api.soundcloud.com/tracks/140485652/stream?client_id=0be8085a39603d77fbf672a62a7929ea"></a>
        </div>
    </div>

    <div class="item item-avatar jw-back">
        <img ng-src="{{currentSingle.artwork_url}}" alt="">
        <h2 ng-click="back()" class="jw-link">
            {{currentSingle.title}}
        </h2>
        <p>{{currentSingle.jw_created_at | date: date: "MMMM dd yyyy" }}</p>
    </div>

    <div class="item item-body">

        <img class="full-image" ng-src="{{ currentSingle.jw_artwork_url}}" ng-click="" alt="">

        <div class="item tabs tabs-icon-left ng-play jw-play">
            <a class="tab-item"  ng-click="forcePlay()">
<!--                 <i class="icon ion-play" ng-if="true"></i>  -->
                <i class="icon ion-refresh" ng-if="true"></i>
                Play
            </a>

            <a class="tab-item" ng-click="pause()" ng-if="isPlaying()">
                <i class="icon ion-pause"></i> Pause
            </a>

            <a class="tab-item" ng-click="resume()" ng-if="isPause()">
                <i class="icon ion-loop"></i> Resume
            </a>

        </div>

        <pre class="jw-description">{{currentSingle.description}}</pre>

        <p class="" ng-click="toggleComments()">
            <a href="" class="subdued">{{currentSingle.favoritings_count}} Like</a>
            <a href="" class="subdued">{{currentSingle.comment_count}} Comment</a>
        </p>

    </div>
</div>


<div class="comment" ng-if="showComments">
    <a href="" class="item item-avatar"
       ng-repeat="comment in currentSingle.comments"
       ng-click="toTop()" data-scroll-reveal="enter top move 50px">
        <img ng-src="{{comment.user.avatar_url}}" alt="">
        <h2 class="jw-user">{{comment.user.username}}</h2>
        <pre class="jw-comment">{{comment.body}}</pre>
        <p class="jw-date">{{comment.jw_created_at | date: date: "MMMM dd yyyy"}}</p>
    </a>
</div>
