
<ion-slide-box show-pager="false" disable-scroll="false" does-continue="false">

    <ion-slide>
        <ion-scroll>
            <div class="list">
                <a href="" class="item item-avatar" ng-repeat="single in singles" data-scroll-reveal>
                    <img ng-src="{{single.artwork_url}}" alt="">
                    <span ng-if="isPlayingTrack(single)">
                        {{currentTime / 60.0 | number: 2}}
                        <i class="icon ion-loading-d" ng-if="isPlayingTrack(single)"> </i>
                        {{getDuration() / 60.0 | number: 2}}
                    </span>

                    <h2 ng-click="selectSingle(single)">
                        {{single.title}}
                    </h2>
                    <p>{{ single.jw_created_at | date: date: "MMMM dd yyyy" }}</p>
                </a>
            </div>
        </ion-scroll>
    </ion-slide>

    <ion-slide>
        <ion-scroll>
            <div ng-include src="'play.html'"></div>
        </ion-scroll>
    </ion-slide>

</ion-slide-box>

